<!DOCTYPE html>
<html lang = "zh-CN">
	<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>article</title>
    <meta name = "Description" content = "红岩大作业">
    <meta name = "Keywords" content = "作业,大作业">
    <!-- JQuery引入 -->
    <script src = "__PUBLIC__/jquery-2.2.0.min.js"></script> 
    <!-- CSS引入 -->
    <link rel = "stylesheet" type = "text/css" href = "__PUBLIC__/css/frame.css">
    <link rel = "stylesheet" type = "text/css" href = "__PUBLIC__/css/navigation.css">
    <link rel = "stylesheet" type = "text/css" href = "__PUBLIC__/css/color.css">
  </head> 
  <body class="body">
    <!-- <div id="mask"></div> -->
    <div id="head">
      <a href=""><div id="logo_frame">
        <img src="__PUBLIC__/image/logo_show.png" id="logo" class="logo">
      </div></a>
      <div id="navigation">
        <ul class="ul">
          <a href=""><li class="navigation_gray li">主页</li></a>
          <li id="navigation_more" class="navigation_gray li">
            更多
            <ul class="ul2">
              <a href=""><li class="navigation_gray li2" >相册</li></a>
              <a href=""><li class="navigation_gray li2" >留言</li></a>
              <a href=""><li class="navigation_gray li2" >日历</li></a>
              <a href=""><li class="navigation_gray li2" >时间轴</li></a>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="contents" class="contens_white">
      <div id="page_head">
        <div id="writePage_frame">
          <a href=""><img src="__PUBLIC__/image/writePage_over.png" alt="写新文章" id="writePage" class="writePage"></a>
        </div>
      </div>
      <div id="page_body">
        <div id="body_frame">
          <div id="page_contents">
          <volist name="list" id="vo">
            <div id="p1" class="contents_frame"> <!-- 这里是文章框架 -->
              <div class="page_title">{$vo.title}</div>
              <div class="introduction introduction_gray">{$vo.summary}</div>
              <div class="photo"><img src="{$vo.cover}" alt="示例图片" title="示例图片"></div>
              <div class="tap_frame">
                <div class="tap_guide tap_guide_gray">
                  此篇文章标签:
                  <a href="" class="tap_gray tap">测试</a>
                </div>
              </div>
              <img src="__PUBLIC__/image/click.png" class="detailed" alt="点我查看详情" title="点我查看详情">
             <!--  <div class="hide">
                <div id="p1" class="hide_frame">
                  <div class="hide_area"> 自从 iPhone 6s 发布以来，不少开发者都在研究用 3D Touch 屏幕检测物体重量的可行性。虽然从理论上来说硬件是完全支持的，但是 Apple 却一直不在软件方面提供支持。两个月前国外有人利用私有 API 强行实现了它，可却被 App Store 拒绝上架，大家只能无奈地看看演示视频来感受这个神奇的功能。iPhone 6s + 铁勺子 = 电子秤？虽然听起来不可思议，可就在今天上午，我无意间发现了用 Javascript 检测 3D Touch 屏幕压力的方法，并且在浏览器里直接实现了电子秤功能！不需要上架审核，也不用下载任何应用，只要有一把普通的金属勺子，在 iPhone 6s 上用自带的 Safari 浏览器打开这个页面（或扫描这个二维码）就能开始玩啦！</div>
                </div>
              </div> -->
            </div>
            </volist>
          </div>
        </div>
      </div>
    </div>
    <div id="message_frame">
      <div id="message_guide" class="message_guide_frame">
        <div class="prompt"><img src="__PUBLIC__/image/prompt.png"></div>
        <div class="yes"><img src="__PUBLIC__/image/yes_over.png" class="yes_over"></div>
        <div class="no"><img src="__PUBLIC__/image/no_over.png" class="no_over"></div>
      </div>
      <div id="message_content_frame">
        <div id="message_wirte">
          <div id="message_wirte_frame">
            <img src="__PUBLIC__/image/writeMessage_over.png" id="message_wirte_over"> 
          </div>
        </div>
        <volist name="mb" id="vo"><!-- 留言板遍历起点 -->
        <div id="m1" class="message_margin"> <!-- 这里是留言内容框 -->
          <img src="__PUBLIC__/image/hr.png" class="message_hr">
          <div class="message_content">  
            <div class="message_name">{$vo.nickname}</div>
            <div class="message_page">{$vo.content}</div>
          </div>
        </div>
        </volist><!-- 留言板遍历终点 -->
      </div>
      <div class="write_message">
        <p>邮箱or昵称： <input type="text" name="name" id="nickname"/></p>
        <p>写下你想说的吧： <input type="text" name="contents" id="message"/></p>
        <button id="send">发送</button><!-- 发送按钮 -->
      </div>
    </div>
    <script type="text/javascript" src="__PUBLIC__/javascript/head.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascript/body.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascript/center.js"></script>
    <!-- 留言板发送 -->
    <script type="text/javascript" src="__PUBLIC__/javascript/sendMsg.js"></script>

  </body>
</html>