<!DOCTYPE html>
<html>
<head>
	<title>编辑页</title>
	<!--引入wangEditor.css-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/wangEditor/dist/css/wangEditor.min.css">
	<!-- 页面布局 -->
	<style type="text/css">
		#navbar{
			width:10%;
			float:left;
		}
		#main{
			float:left;
		}
		textarea{
			height: 500px;
		}
	</style>
</head>
<body>
	<include file="./Blog/Admin/View/Admin/topbar.html" />
	<div id="navbar">
		<include file="./Blog/Admin/View/Admin/navbar.html" />
	</div>
	<div id="main">
		<form name="input" action="__URL__/post" method="post" enctype="multipart/form-data">
			<input type="text" name="title" placeholder="标题" value="{$title}"/>
			<textarea id="textarea1" name="content" >
			{$content}	    		
			</textarea>
			<input type="text" name="summary" placeholder="简介" value="{$summary}"/>
			<input type="file" name="pic"  accept="image/jpeg,image/gif,image/png" />
			<input type="hidden" name="article_id" value="{$article_id}" />
			<input type="submit" value="提交">
		</form>
		</div>

</body>

	<!--引入jquery.js-->
	<script language="javascript" type="text/javascript" src="__PUBLIC__/jquery.js"></script>

	<!--引入jquery和wangEditor.js-->   <!--注意：javascript必须放在body最后，否则可能会出现问题-->
	<script type="text/javascript" src="__PUBLIC__/wangEditor/dist/js/lib/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/wangEditor/dist/js/wangEditor.min.js"></script>
	<script type="text/javascript">
    var editor = new wangEditor('textarea1');
    editor.config.uploadImgUrl = '__URL__/upload';
    editor.create();
</script>
</script>
</html>
