.body{
	background: #e8e8e6;
}
.navigation_gray{
	color: #5e5e5d;
}

/*
.navigation_touch_gray{
	background: #e0e0e0;
}
.navigation_touch_titlechange_gray{
	color: #a6a6a5;
}
.navigation_touch_contents_gray{
	color: #000000;
}*/

.write_message_guide_gray{
	color: #625f5f;
}
.contens_white{
	background: #ffffff;
}
.tap_guide_gray{
	color: #b4b4b4;
}
.tap_gray{
	color: #969696;
}
.introduction_gray{
	color: #676767;
}
.icon_red{
	color: #e93c07;
	opacity: 0.8;
}
.introduction_gray{
	color: #D9D6CF;
}